<footer class="footer">
    <div class="footer-container">
      <p style="text-align: center; justify-content: center; color:#0F3DDE; text-decoration-style: solid; font-weight: 500; font-size: larger; background-color:;">Welcome to StyleHub Clothing Shop, your go-to destination for trendy, high-quality fashion. <br>
        Our mission is to deliver fashion that blends style, comfort, andaffordability—all in one place. <br>
       Stay stylish with StyleHub!</p>
    </div>
</footer>