<div class="navbar">
    <div class="logo"><img src="/source/logo.png" alt="Logo" width="70" height="70"></div>
    <div class="search-container mx-3">
        <i class="fas fa-bars"></i>
        <input type="text" id="input" placeholder="Search">
        <i class="fas fa-search"></i>
    </div>
    <div class="nav-icons">
        <span><img src="/source/email_icon.png" alt="email_icon" width="40" height="30"></span>
        <span><img src="/source/noti_icon.png" alt="noti_icon" width="40" height="auto"></span>
    </div>
</div>

<div class="mobile-navbar">
    <span class="menu-toggle" onclick="toggleSidebar()">☰ MENU</span>

</div>