<div class="sidebar" id="sidebar">
    <span class="close-btn" onclick="toggleSidebar()">✖</span>
    <h2>MENU</h2>
    <a href="/dashboard">DASHBOARD</a>
    <a href="/users">User</a>
    <a href="/deposits">PRODUCTS</a>
    <a href="/withdrawals">PRODUCTS</a>
    <a href="/logout">LOG OUT</a>
</div>
