<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Illustrate</title>
</head>
<body>
    <h2 style="margin: 0 auto;">Description</h2>
    <div>
        <p>
            1. Deposit of funds
            <br>
            Due to the large amount of information on the platform, users are requested to contact customer service to confirm and double-check the customer's account information before each deposit.
            After successful recharge, users are requested to provide online customer service with a successful transfer slip to update the platform account.
            The payee's name and transfer amount must be consistent with the account information provided for immediate payment.
            If users encounter any problems during the deposit process, please contact our online customer service for details!
            <br>
            <br>
            2. About product
            <br>
            The value of product is adjusted according to the market value.
            The product is randomly assigned according to the total balance of the user account.
            The higher the balance of the user account, the higher the amount of product, and the higher the profit.
            If the user is worried that the amount of product is too large to afford, please do not save too much money to start optimizing.
            <br>
            <br>
            3. Withdrawal
            <br>
            Withdrawal time is 10:00 to 22:59 every day.
            <br>
            <br>
            4. Platform user mode
            <br>
            Users can invite new users to become platform users and will receive additional referral commissions. The referral fee is an additional 15%.
            <br>
            <br>
            5. Business hours
            <br>
            Users can optimize the product during the daily operating hours from 10:00 to 23:00
            Note: For further information, please click "Contact Us" on the platform to contact our online customer service! Each lucky order is 10 times the order price
         </p>
    </div>
</body>
</html>